@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
section h1{
    color: #fff;
    text-align: center;
    font-size: 30px;
}
.timeline-section{
	background-color: #011c39;
	min-height: 100vh;
	padding: 30px 15px;
}
.timeline-items{
	max-width: 100vw;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 85%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(odd) .timeline-date{
    /* padding-right: calc(50% + 30px); */
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #002955;
	border: 1.5px solid rgb(0, 113, 241);
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 16px;
	color: #ffffff;
	background: #002955;
	height: 25px;
	width: 25%;
	border-radius: 10px;
	margin:6px 0 15px;
	border: 1px solid rgb(0, 113, 241);
}
.timeline-date p{
	text-align: center;
}
.timeline-content{
    background-color: #002955;
	padding: 15px 20px 30px;
	border-radius: 10px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin: 0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #e0e0e0;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* RESPONSIVE */

@media(max-width: 767px){

	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
	.timeline-date{
		width: 18%;
	}
    .timeline-content{
        border-radius: 0px 10px 10px;
    }
}