
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'roboto',sans-serif;
}
#slider{
    overflow: hidden;
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: animate 30s ease-in-out infinite;
}
#slider figure{
    width:20%;
    float: left;
    object-fit: cover;
    height: 400px;
    border-left: 2px solid rgb(17, 13, 77);
}
@keyframes animate {
    0%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

