@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --color1: rgba(175, 175, 175, 0.37);
}
html{
    scroll-behavior: smooth;
}

/* ScrollBars */

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    border: 7px solid rgba(6, 226, 255, 0.26);
}
::-webkit-scrollbar-thumb{
    border-radius: 3px;
    border: solid 1px rgba(5, 190, 30, 0.925);
    background: linear-gradient(45deg, cyan, orange, yellow);
}

body{
    font-family: 'roboto',sans-serif;
    overflow-x: hidden;
}
.cache{
    display: none;
}

/* Header and nav */

.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header{
    background-color: var(--color1);
    padding: 12px 0;
    height: 60px;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(2px);
    z-index: 9;
    border-bottom: solid 2px rgba(148, 148, 148, 0.363);
    transition: .5s;
}
header .logo a{
    font-family: 'pattaya', 'sans-serif;';
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}
header nav ul li{
    display: inline-block;
    margin-left: 40px;
    position: relative;

}
/* header nav ul li:last-child{
    display: flex;
} */
header .logo , 
header nav{
    padding: 0 15px;
}
header nav ul li a{
    display: block;
    font-size: 16px;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.863);
    text-transform: capitalize;
    transition: all 0.5s ease;
}
header nav ul li::before{
    content: '';
    position: absolute;
    background: #fff;
    display: block;
    bottom: -2px;
    width: 0px;
    height: 3px;
    transition: all 0.32s ease-in-out 250ms;
}
header nav ul li:hover::before{
    width: 57px;
    opacity: 0.9;
}
header nav ul li a:hover,
header nav ul li a.active{
    color: #fff;
}
label{
    height: 34px;
    width: 44px;
    background-color: transparent;
    border-radius: 10%;
    border: 1px solid #fff;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
label span{
    display: block;
    height: 2px;
    width: 20px;
    background: #fff;
    position: relative;
    transition: 0.4s;
}
label span::after,
label span::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: #fff;
    left: 0;
    transition: 0.5s;
}
label span::after{
    top: -6px;
}
label span::before{
    top: 6px;
}
input#nav-check{
    display: none;
}
/* section presention */
section.first{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #acf5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    z-index: 5;
}
section.first .container{
    width: 1080px;
    height: 50%;
    position: relative;
    display: flex;
    /* border: 1px solid rgb(119, 119, 119); */
}
section.first .container .content{
    position: relative;
    width: 60%;
    height: 100%;
    padding: 2px;
    /* border: 1px solid rgb(255, 69, 69); */
}
section.first .container .content h1{
    color: rgb(73, 73, 73);
    font-family: 'roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}
section.first .container .content h2{
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(73, 73, 73);;
    padding-top: 30px;
    text-align: center;
}
section.first .container .content span{
    color: rgb(0, 162, 255);
}
section.first .container .content P{
    letter-spacing: 2px;
    color: rgb(53, 53, 53);
    padding-top: 27px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    transform: translateY(20%);
}
section.first .container .imagBt{
    position: relative;
    width: 40%;
    height: 100%;
    /* border: 1px solid rgb(21, 255, 0); */
}
section.first .container .imagBt img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
section.first .container .content a{
    display: inline-block;
    position: relative;
    width: 100px;
    margin-top: 4rem;
    height: auto;
    background: rgb(22, 170, 255);
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: .5s;
}
section.first .container .content a:hover{
    background: rgb(0, 162, 255);
    transform: scale(1.03);
}

/* section timeline */

.section.timeline-section h1{
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 30px;
}
.timeline-section{
    position: relative;
	background: #011c39;
	min-height: 100vh;
	padding: 30px 15px;
}
.timeline-items{
	max-width: 100vw;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 85%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(odd) .timeline-date{
	text-align: right;
    left: calc(75% - 0px);
    top: 0px;
    position: relative;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #002955;
	border: 1.5px solid rgb(0, 113, 241);
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 16px;
	color: #ffffff;
	background: #002955;
	height: 25px;
	width: 25%;
	border-radius: 10px;
	margin:6px 0 15px;
	border: 1px solid rgb(0, 113, 241);
}
.timeline-date p{
	text-align: center;
}

.timeline-content{
    background-color: #002955;
	padding: 15px 20px 30px;
	border-radius: 0px 10px 10px;
}
.timeline-item:nth-child(odd) .timeline-content{
    border-radius: 10px 0px 10px 10px;
}
.timeline-content h3{
    font-size: 20px;
	color: #fff;
	margin: 0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #e0e0e0;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* RESPONSIVE */

@media(max-width: 769px){

	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
	.timeline-date{
		width: 18%;
	}
    .timeline-content{
        border-radius: 0px 10px 10px;
    }
    .timeline-item:nth-child(odd) .timeline-content{
        border-radius: 0px 10px 10px 10px;
    }
    .timeline-item:nth-child(odd) .timeline-date{
        left: 0;
        position: relative;
    }

    /* il reste la reposivité  */
}
@media(max-width: 600px){
    .timeline-date{
		width: 30%;
	}
}
@media(max-width: 400px){
    .timeline-date{
		width: 40%;
	}
    .section.timeline h1{
        font-size: 24px;
    }
}


/* Section card */

section.second{
    Position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh + 60px);
    background: #e0f7fa;
    z-index: 5;
}
.container#cn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.4);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.container .card:hover{
    transform: scale(1.02);
}
.container .card img{
    width: 100%;
}
.container .card .content{
    position: absolute;
    bottom: -140px;
    width: 100%;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
    border: 0.5px solid rgba(255,255,255,0.2);
    transition: bottom 0.5s;
}
.container .card:hover .content{
    bottom: 0;
}
.container .card .content .contentObj h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.9s;
    opacity: 0;
    transform: translateX(-100px);
}
.container .card:hover .content .contentObj h3{
    opacity: 1;
    transform: translateX(0px);
}
.container .card .content .contentObj p{
    color: #fff;
    letter-spacing: 1px;
    font-size: 13px;
    text-align: justify;
    margin: 20px 0 15px;
    padding: 0 10px 0;
    line-height: 1.1em;
    transition: 0.9s;
    opacity: 0;
    transform: translateY(100px);
}
.container .card:hover .content .contentObj p{
    opacity: 1;
    transform: translateY(0px);
}
.container .card .content .contentObj h3 span{
    font-size: 14px;
    font-weight: 300;
    text-transform: initial;
}

/* Sections */

section.secImg {
    background: #e0fae0;
}
.section h2{
    position: absolute;
    color: rgb(44, 44, 44);
    font-weight: 900;
    font-size: 60px;
    transform: translateX(40%)
}

section#container{
    position: relative;
    width: 100%;
    z-index: 2;
}
section#container .section{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
section#container .section img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

/* Footer */

footer{
    position: sticky;
    bottom: 1px;
    width: 100%;
    height: auto;
    padding: 40px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .container .sec{
    margin-right: 30px;
}
footer .container .sec.aboutus{
    width: 40%;
}
footer .container h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 25px;
}
footer .container h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: rgb(255, 0, 98);
}
footer .sec.aboutus p{
    color: #999;
}
.rs{
    margin-top: 20px;
    display: flex;
}
.rs li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    transition: 0.4s ease;
}
.rs li a:hover{
    background: linear-gradient(135deg, rgb(255, 29, 85), rgb(52, 16, 255));
}
.quickLinks{
    position: relative;
    width: 25%;
}
.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quickLinks ul li a:hover{
    color: #fff;
}
footer .contact{
    width: calc(35% - 60px);
    margin-bottom: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display:flex;
    margin-bottom: 10px;
    align-items: center;
}
.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span,
.contact .info li a{
    color: #999;
}
.contact .info li a:hover{
    color: #fff;
}
.contact .info li i{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    transition: 0.5s ease;
}
.contact .info li i:hover{
    background: rgb(1, 170, 156);
}
.copyrightText{
    position: sticky;
    bottom: 0.1px;
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}
.copyrightText span{
    color: rgb(0, 195, 255);
}

a.arrowTop i.fas{
    position: absolute;
    top: 90%;
    left: 95%;
    font-size: 50px;
    color: rgb(0, 43, 160);
    border: 2px solid rgb(142, 94, 255);
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    display: none;
    margin: 2px;
}

/* Responsive Header and Nav */

@media screen and (max-width: 768px){
    label{
        display: flex;
    }
    header nav{
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        max-height: 0vh;
        background-color: var(--color1);
        border-top: 1px solid rgba(225, 225, 225, 0.2);
        border-radius: 0 0 4px 4px;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s max-height 0.1s;
        
    }
    header nav ul li a{
        display: flex;
        justify-content: center;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 1.5px;
        transition: .4s;
    }
    header nav ul li{
        display: block;
        margin: 0;
        transition: 0.5s;
    }
    ul li:last-child {
        margin-bottom: 10px;
    }
    header #nav-check:checked ~ nav{
        opacity: 1;
        visibility: visible;
        max-height: 100vh;
    }
    header #nav-check:checked ~ label span{
        background: transparent;
    }
    header #nav-check:checked ~ label span::before{
        top: 0;
        transform: rotate(45deg);
    }
    header #nav-check:checked ~ label span::after{
        top: 0;
        transform: rotate(-45deg);
    }
    header nav ul li:hover::before{
        width: 0;
        opacity: 0;
    }

}

/* Responsive footer */

@media screen and (max-width: 991px){
    body {
        overflow-x: hidden;
    }
    footer {
        padding: 40px;
    }
    footer .container {
        flex-direction: column;
    }
    footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus,
    .quickLinks, .contact{
        width: 100%;
    }
    .copyrightText{
        padding: 8px 40px;
    }
}